<!-- header-footer.component.html -->
<div class="header">
  <div class="logo">
    <img class="logoimg" src="https://res.cloudinary.com/djlk4rbl3/image/upload/v1722323790/logo_yjlvrs.png" alt="Logo"/>
    <h1><b style font-size:100px>ADHYANTHA   COLLEGE   OF  ENGINEERING</b></h1>
  </div>
  <nav class="topnav">
    <ul> 
      <a routerLink="/login">Login</a>
      <a routerLink="/contactus">Contact Us</a>
      <a routerLink="/aboutus">About Us</a>
      <a routerLink="/gallery">Gallery</a>
      <a routerLink="/home">Home</a>
    </ul>
  </nav>
</div>

<router-outlet></router-outlet>

